<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ trans("EkomiFeedback::ekomiFeedback.EkomiFeedbackReviews") }}</title>

        <!-- Link main CSS file and additional fonts -->
        <link href="{{ plugin_path('EkomiFeedback') }}/css/main.css" rel="stylesheet">

        
    </head>

    <body>
        <!-- To Do list -->
        <div class="list">
            <h1 class="header">{{ trans("EkomiFeedback::ekomiFeedback.EkomiFeedbackReviews") }}</h1>

            <ul class="tasks">
                <strong>{{reviewsCount}} {{ trans("EkomiFeedback::ekomiFeedback.ReviewsFetched") }} </strong>
            </ul>
        </div>
    </body>
</html>